div{
    margin-top:100px;
    margin-left: 220px;
}
ul{
    display: grid;
    grid-template-columns: repeat(100,3fr);
    grid-gap: 10px;
    list-style: none;
}

input{
    margin-top:10px;
    margin-left: 25px;
    height: 35px;
    border: none;
    background:none;
    border-bottom-style: solid;
    border-left-style: solid;
    border-width: 1px;
    padding:5px
}
button{
    padding: 5px;
    margin-left: 10px;
    border: none;
    background: white
}
.button-del{
    background: gray;
    color:white
}
.a{
    margin-bottom:50px
}
.b{
    margin-bottom:50px
}
.operation{
    margin-bottom:20px
}
.result-container{
    display:flex;
    margin-top:30px;
    background:white;
    width:490px;
    height: 100px;
    padding:35px;
}
.title-result{
    color:green;
}
.result{
    margin-left:5px
}